.filter {
    margin: 10px 0;
    text-align: center;
    span {
        padding: 5px;
    }
}
mat-form-field,
mat-select,
mat-option, {
    font-family: 'Spectral SC', serif !important;
    width: 225px;
    
}