<div class="app">
  <mat-sidenav-container  class="sidenav-container">
    <mat-sidenav [mode]="isLargeScreen() ? 'side' : 'over'" [opened]="isLargeScreen()" mode="side" #sidenav class="sidenav">
      <app-sidenav></app-sidenav>
    </mat-sidenav>

    <div class="content">
      <nav class="nav mat-elevation-z3">
        <ul class="nav-items">
          <li class="nav-item nav-item--sidenav-btn">
            <button type="button" mat-icon-button (click)="sidenav.open()">
              <mat-icon>menu</mat-icon>
            </button>
          </li>
          <li class="nav-item nav-item--user">
            <img class="user-image" src="https://randomuser.me/api/portraits/thumb/women/3.jpg" alt="logged in user image">
            <span class="user-name">Charlotte Harris</span>
          </li>
          <li class="nav-item nav-item--menu-btn">
            <button mat-icon-button [matMenuTriggerFor]="user_menu">
              <mat-icon>arrow_drop_down_circle</mat-icon>
            </button>
            <mat-menu #user_menu="matMenu">
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit Profile</span>
              </button>
              <button mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Log Out</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </nav>
      <main class="container">
        <app-dashboard></app-dashboard>
        <app-employee-cards></app-employee-cards>
      </main>
    </div>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>