.app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}

.nav {
    background: #fff;
}
.nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    padding: 7px;
    .nav-item--sidenav-btn {
        flex: 1;
    }
    .nav-item--user {
        img {
            border-radius: 100%;
            width: 35px;
        }
        span {
            font-size: .80rem;
        }
    }
    .nav-item--menu-btn {
        margin-right: 7px;
    }
}

main {
    background: #F5F6FA;
    min-height: 740px;
}


@media (min-width: 992px) {
    .nav-item--sidenav-btn {
        visibility: hidden;
    }
}

