@import './material-theme';
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import '../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';

html, body {
    height: 100%;
}

body {
    font-family: 'Spectral SC', serif !important;
}

button:focus {
    outline: none;
}